body{
    text-align: center;
    color: black;
    margin-top: 05px;
}
header{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}
Footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}