body{
    text-align: left;
    color: black;
    
}
header{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}
Footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}
H1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}